// Заголовки, общие БЄМ блоки и проче...
//========================================================================================================================================================
:root {
  --wrht: #fff;
  --backgrand-wrht: #f8f9fb;
  --card: #f0f5ff;
  --backgrand-accent: #f0f5ff;
  --black: #222222;
  --gray: #595959;
  --gray-light: #9d9d9d;
  --blueBlack: #3454bd;
  --blue: #5577e8;
  --red: #ca4b44;
  --green: #199b26;
}
//========================================================================================================================================================
$time: 0.3s;
$tr: ease-in;
//========================================================================================================================================================

.column {
  // .column--title

  .column--title {
    font-size: rem(30);
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    color: var(--blue);

    @media (max-width: $tablet) {
      font-size: rem(22);
    }

    @media (max-width: $mobile) {
      font-size: rem(18);
    }
  }

  // .colum--text

  .column--text {
    font-size: rem(20);
    line-height: 160%;
    color: var(--gray);

    @media (max-width: $tablet) {
      font-size: rem(16);
    }

    @media (max-width: $mobile) {
      font-size: rem(14);
      margin-bottom: rem(32);
    }
  }
}

//========================================================================================================================================================

.big--text {
  text-align: center;
  font-family: "Montserrat";
  font-size: rem(160);
  font-weight: 800;
  letter-spacing: rem(4.8);
  text-transform: uppercase;
  color: var(--blue);
  opacity: 0.1;
  @media (min-width: $tablet) {
    opacity: 0;
    transition: transform $time $tr 0.3s;
    transform: translate(rem(0), rem(50));
  }

  @media (max-width: $pc) {
    font-size: rem(100);
  }

  @media (max-width: $tablet) {
    font-size: rem(84);
    letter-spacing: rem(2.52);
  }

  @media (max-width: $mobile) {
    font-size: rem(44);
    letter-spacing: rem(1.32);
  }
}

//========================================================================================================================================================
._title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: rem(42);
  text-align: center;
  margin-bottom: rem(72);

  transition: all $time $tr 0s;
  transform: translate(rem(0), rem(50));
  opacity: 0;

  @media (max-width: $tablet) {
    opacity: 1;
    transform: translate(rem(0), rem(0));
  }
  @media (max-width: $tablet) {
    font-size: rem(32);
    margin-bottom: rem(32);
  }

  @media (max-width: $mobile) {
    font-size: rem(22);
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: rem(20);
  }
}

//========================================================================================================================================================

//========================================================================================================================================================

.btn {
  background: var(--blue);
  padding: rem(10) rem(32);
  border-radius: 12px;
  text-transform: uppercase;
  color: var(--wrht);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: opacity $time $tr 0s, border $time $tr 0s, background $time $tr 0s,
    color $time $tr 0s;
  outline: none;
  border: 1px solid var(--blue);
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &--alt {
    background: transparent;
    color: var(--blue);
  }
  @media (hover: hover) {
    &:hover {
      background: var(--blueBlack);
      opacity: 0.9;
      border: 1px solid var(--blueBlack);
    }
    &--alt {
      &:hover {
        color: var(--wrht);
      }
      &:active {
        color: var(--wrht);
      }
    }
    &:active {
      background: var(--blueBlack);
      opacity: 1;
      border: 1px solid var(--blueBlack);
    }
  }
}

.link {
  color: var(--gray-light);
  transition: color $time $tr 0s;
  letter-spacing: 0.54px;
  font-size: rem(18);
  font-weight: 600;
  text-transform: uppercase;
  @media (hover: hover) {
    &:hover {
      color: var(--blue);
    }
    &:active {
      color: var(--blueBlack);
    }
  }
}

.text {
  font-size: rem(20);
  line-height: 160%;
  margin: rem(0) rem(0) rem(16);
  color: var(--gray);

  @media (max-width: $tablet) {
    margin: rem(0) rem(0) rem(12);
    font-size: rem(16);
  }

  @media (max-width: $mobileSmall) {
    margin: rem(0) rem(0) rem(10);
    font-size: rem(14);
  }

  :first-child {
    margin-top: rem(0);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(30);
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    margin-top: rem(32);
    color: var(--blue);
    margin-bottom: rem(16);

    @media (max-width: $tablet) {
      font-size: rem(22);
      margin-bottom: rem(12);
    }

    @media (max-width: $mobileSmall) {
      font-size: rem(18);
      margin-top: rem(20);
      margin-bottom: rem(10);
    }
  }
}

//========================================================================================================================================================

.js-clear {
  .js-clear-btn {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: rem(26.5);
      right: rem(24);

      mask: var(--iconClear) center center no-repeat;
      -webkit-mask: var(--iconClear) center center no-repeat;
      background: var(--gray-light);
      height: rem(19);
      width: rem(19);
      transition: opacity $time $tr 0s;
      opacity: 0;
      cursor: pointer;

      @media (max-width: $tablet) {
        right: rem(15);
        top: rem(17.5);
      }

      @media (max-width: $mobileSmall) {
        height: rem(14);
        width: rem(14);
        top: rem(14);
      }
    }

    &._form-focus {
      &::before {
        opacity: 1;
      }
    }
    &._form-field {
      &::before {
        mask: var(--iconGood) center center no-repeat;
        -webkit-mask: var(--iconGood) center center no-repeat;
        background: var(--green);
        opacity: 1;
        width: rem(22);
        height: rem(16);
      }
    }

    &._form-error {
      .input {
        color: var(--red);
        border: rem(1) solid var(--red);
      }

      &::before {
        opacity: 1;
      }
    }
  }

  .js-clear-input {
    &._form-field {
      color: var(--green);
      border: rem(1) solid var(--green);
    }
  }
}

//========================================================================================================================================================

.question-thanks {
  &--title {
    text-align: center;
    font-size: rem(72);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: rem(1.44);
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: rem(24);

    @media (max-width: $tablet) {
      font-size: rem(48);
      margin-bottom: rem(12);
    }

    @media (max-width: $mobile) {
      font-size: rem(30);
      margin-bottom: rem(8);
    }
  }
  &--text {
    color: var(--gray);
    font-size: rem(24);
    line-height: 150%;
    text-align: center;
    max-width: rem(524);
    margin: 0 auto rem(48);

    @media (min-width: $mobile) {
      text-transform: uppercase;
    }

    @media (max-width: $tablet) {
      font-size: rem(18);
      margin: 0 auto rem(32);
    }

    @media (max-width: $mobile) {
      font-size: rem(14);
      margin: 0 auto rem(24);
    }
    span {
      color: var(--blue);
    }
  }
  &--btn {
    font-size: rem(30);
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    width: 100%;
    border-radius: rem(63);
    padding: rem(26) rem(32);

    @media (max-width: $tablet) {
      font-size: rem(22);
      padding: rem(20) rem(32);
      border-radius: rem(20);
    }

    @media (max-width: $mobile) {
      font-size: rem(16);
      padding: rem(11) rem(15);
      border-radius: rem(12);
    }
  }
}
